img.image_buscar {
	width: 20px;
	border: 0px;
	top:1px;
	left:0;
}


.right-inner-addon {
    position: relative;
    
    width: 450px;
}
.right-inner-addon input {
    padding-right: 30px;
    width: 170px; /* 200px - 30px */
}
.right-inner-addon img {
    position: absolute;
    right: 1px;
    padding: 10px 12px;
    pointer-events: none;
    z-index:3;
    width:40px;
    top: 5px;
}